*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree;
}
.container{
    border: 2px solid black;
    height: 462px;
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 10px 10px 0px black;
    position: relative;
}
.img {
    margin: 12px;
    width: calc(100% - 24px); /* Ensures it fits within the container with margins */
    height: auto; /* Maintains aspect ratio */
    border-radius: 15px; /* Matches the container's border-radius */
}
.spn{
    /* border: 1px solid black; */
    /* height: 150px; */
    /* width: 150px; */
    margin: 15px;
    padding: 7px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    font-weight: bolder;
}
.ph{
    margin: 10px;
    padding: 7px;
}
.head{
    color: hsl(47, 88%, 63%);
    margin: 0px 15px;
}
.la{
    margin: 15px;
    padding: 2px;
    font-size: 16px;
}
.im1{
    height: 35px;
    width: 35px;
    margin: 0px 15px;   
}
.head4{
    height: 10px;
    position: relative;
    top: -31px;
    left: 62px;
}
@media (max-width: 375px){
    .container{
        height: 88%;
        width: 88%;
}
}